
{%extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="col-md-12 col-lg-12">
        <div class="row">

        <h1>Ingredients to always have on hand</h1>

            <ul>
            <li>Blue Bonnet Margine</li>
            <li>Eggs</li>
            <li>Cream Cheese</li>
            <li>Milk</li>
                <li>1% Milk or Vanilla Almond Milk</li>
            <li>Non-stick baking spray ( with flour )</li>
            <li>All-purpose flour</li>
            <li>Sugar</li>
                <li>Granulated (regular white )Sugar</li>
                <li>Light Brown Sugar</li>
                <li>Powdered ( confectioner's ) sugar</li>
            <li>Baking Powder</li>
            <li>Baking Soda</li>
            <li>Table salt</li>
            <li>Cocoa powder</li>
            <li>Cornstarch</li>
            <li>Vegetable Oil</li>
            <li>Corn syrup</li>
            <li>Honey</li>
            <li>Maple syrup ( Real Stuff )</li>
            <li>Bootstrap Molasses</li>
            <li>Peanut butter</li>
            <li>Vanilla extract</li>
            <li> Almond extract</li>
            <li>Cream of tartar</li>
            <li>Ground cinnamon</li>
            <li>Ground nutmeg</li>
            <li>Chocolate chips</li>
            </ul>
            
        </div>
    </div>
</div>

{% endblock body %}


